/*@import "templatecolours.css";*/
@import "fonts.css";

/* Colourings */
.header{
    background-color: slategray;
}
body{
    background-color: ghostwhite;
}
footer{
    background-color: slategray;
}


/* Image Sizing CSS*/

#group_photos {
    width: 100%;
}

#gprj{
    width: 33%;
    height: 220px;
    float: left;
}

#gprj2 {
    width: 33%;
    height: 220px;
    float: left;
}

#gprj3 {
    width: 33%;
    height: 220px;
    float: left;
}

/*Header CSS*/
.header{
    height: auto;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 30px;
}

#Page title {

}

#searchbox {
    float: right;
}


/*Body CSS*/
body{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*Section buttons*/
#buttons{
    display:table;
    width:100%;
}
.button1{
    display:table-cell;
    width:50%;
    padding:0 20px;
}
.button2{
    padding:0 20px;
}

/*Footer CSS*/
footer{
    height: 50px;
}

footer>p{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/*Text Styling*/

h1 {
    font-family: 'Oswald', sans-serif;
    font-style: medium;
    font-size: 50px;
}

h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}

h3, h4, h5 {
    font-size: 20px;
    }

p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}



/*Margin Fixes*/


